<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/admin/assets/images/favicon.png">
    <title>Admin </title>
    <!-- Custom CSS -->
    <!-- Custom CSS -->
    <link href="~/admin/dist/css/style.min.css" rel="stylesheet" />
    <link href="~/js/toaster/jquery.toast.min.css" rel="stylesheet" />
    <style>
        .page-wrapper > .container-fluid {
            padding: 0px 35px 35px 35px;
            min-height: calc(100vh - 210px)
        };</style>
</head>

<body>

    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        @await Html.PartialAsync("_Header.cshtml")
 
        @await Html.PartialAsync("_leftsidebar.cshtml")

        <div class="page-wrapper">
                <!--BODY -->
                @RenderBody()              

        </div>
    </div>

    <script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>

    <script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/toaster/jquery.toast.min.js"></script>
    <!-- apps -->
    <!-- apps -->
    <script src="~/admin/dist/js/app-style-switcher.js"></script>

    <script src="~/admin/dist/js/feather.min.js"></script>

    <script src="~/admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
 
    <script src="~/admin/dist/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <script src="~/js/toaster/common.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>